<template>
  <div class="centered-input">
    <div class="group">
      <div class="ibdisplay">
        <label for="invite-search">{{ inputLabel }}</label>
        <input type="text"
        id="invite-search"
        name="invite-search"
        :value="value"
        @input="updateText($event.target.value)"
        :style="{ width: inputWidth + 'rem' }">
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['value', 'inputLabel', 'inputWidth'],
  methods: {
    updateText(value) {
      let caps = value.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
      this.$emit('input', caps)
    }
  }
}
</script>

<style>
  .ibdisplay {
    display: inline-block;
  }

  div.group > div > label {
    font-size: 2rem;
    font-family: cinzel, serif;
    color: #b2b2bb;
    display: block;
    text-align: center;
  }

  .group > div > input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #b2b2b2;
    font-family: cinzel, serif;
    font-size: 2rem;
    display: block;
    /* margin: 0 auto; */
    text-align: center;
    padding-bottom: 3px;
  }

  .group > div > input:focus {
    outline: none;
  }

</style>
