<template>
  <div>
    <div class="group intro">
      <h3>Hello, {{ inviteObj.name }}</h3>
      <p>Please confirm your attendance:</p>
    </div>
    <div class="group button-pair">
      <button
        class="main-button"
        :class="{'confirmed-button': yesIAm}"
        @click.prevent="yesIAm = true">Yes I am coming!</button>
      <button
        class="main-button"
        :class="{'confirmed-button': yesIAm === false}"
        @click.prevent="yesIAm = false">No I can't make it.</button>
    </div>
    <div class="group">
      <button @click="confirmAttend" class="main-button">Submit</button>
    </div>
  </div>
</template>

<script>
import CenteredInput from './CenteredInput.vue';
export default {
  props: {
    inviteObj: Object
  },
  data() {
    return {
      yesIAm: null
    }
  },
  methods: {
    confirmAttend() {
      this.inviteObj.confirmed = this.yesIAm;
      this.$http.put('https://api.smithwienswedding.com/attendee/' + this.inviteObj.attendeeId, this.inviteObj)
        .then((response) => {
          console.log(response)
          console.log('success');
          this.$router.push('confirmed')
        })
        .catch((err) => {
          console.error(err);
        })
    }
  },
  components: {
    CenteredInput: CenteredInput
  }
}
</script>

<style>

h3 {
  font-family: 'cinzel', 'Times New Roman', Times, serif;
}

p {
  font-size: 1.75rem;
}

ul {
  text-align: center;
  padding: 0;
}

li {
  margin: 0 3px;
  list-style: none;
  font-size: 2rem;
  display: inline-block;
  border: 1px #333333 solid;
  border-radius: 10px;
  padding: 0.5rem 1.5rem;
}

.intro {
  margin: 3rem auto 0;
}

.button-pair {
  margin: 2vh auto;
  display: flex;
  width: 25vw;
  justify-content: space-between;
}

.center-small {
  margin: 3rem auto 0;
}

.confirmed-button {
  background-color: #f0cfee;
}


</style>
