<template>
  <div class="container">
    <h2>Your response has been recorded</h2>
  </div>
</template>

<script>
export default {

}
</script>

<style>
  h2 {
    font-family: cinzel, 'Times New Roman', Times, serif;
    font-size: 3rem;
    text-align: center;
  }
  h3 {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    text-align: center;
  }
</style>
