<template>
  <div class="container">
    <router-link to="/"><h1>Carissa & Christopher</h1></router-link>
    <nav>
      <div class="nav-links">
        <router-link to="/">Home</router-link>
        <router-link to="/RSVP">Rsvp</router-link>
        <router-link to="/Travel">Travel</router-link>
        <router-link to="/Registry">Registry</router-link>
      </div>
    </nav>
  </div>
</template>

<script>
export default {

};
</script>

<style>
h1 {
  font-family: WhiteSnowfall, cursive;
  color: #333333;
  text-align: center;
}

a {
  text-decoration: none;
}

.nav-links {
  /* text-align: center; */
  display: flex;
  margin: 0 auto 2rem;
  justify-content: space-around;
  align-items: center;
}

.nav-links a {
  font-family: cinzel, Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 2.5rem;
  text-decoration: none;
  color: #333333;
}

@media (max-width: 1024px) {
  .nav-links a {
    font-size: 4rem;
  }
}

</style>
