<template>
  <div class="container">
    <img src="../../static/images/DSC_0663-min.jpg" alt="Carissa and Christopher">
  </div>
</template>

<script>
export default {

}
</script>

<style>
.container img {
  width: 65%;
  display: block;
  margin: 0 auto;
}

@media (max-width: 900px) {
  .container img { width: 100%; }
}

@media (max-width: 400px) {
  .container img { width: 100%; }
}
</style>
