<template>
  <div class="container">
    <div class="group" id="reg">
      <h4>We are registered at:</h4>
      <a href="https://www.bedbathandbeyond.ca:443/store/giftregistry/view_registry_guest.jsp?registryId=545047437&eventType=Wedding&pwsurl=">
        <img
          src="../../static/images/bedbathbeyond.png"
          alt="Bed, Bath and Beyond logo"
          class="bed-bath-logo">
      </a>
      <h4>Click to see our list!</h4>
    </div>
  </div>
</template>

<script>
export default {

}
</script>

<style>
 #reg > a > img {
   width: 40%;
 }
 #reg {
   margin-top: 10rem;
 }
</style>
