<template>
  <div class="container" id="rsvp">
    <transition name="slide-fade" mode="out-in">
      <div class="group" v-if="!this.checked">
        <app-search
          id="main-search"
          class="centered"
          v-model="attendeeSearch"
          @keydown.enter.native="searchInvites"
          :inputLabel="searchLabel"
          :input-width="60"
          :class="{ confirmed: checked }"></app-search>
        <button @click="searchInvites" class="main-button">Submit</button>
      </div>
      <div class="group"
        v-if="this.checked && this.attendeeData.attendeeId.length > 0">
        <div class="centered">
          <confirm-form
            :inviteObj="attendeeData"></confirm-form>
        </div>
      </div>
      <div class="group"
        v-if="this.checked && this.attendeeData.attendeeId.length === 0">
        <div class="centered">
          <h4>The invite you searched doesn't exist</h4>
          <p>If you are having issues contact Christopher or Carissa</p>
          <button @click="tryAgain" class="main-button">Try Again</button>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
import CenteredInput from './CenteredInput.vue'
import Confirm from './Confirm.vue'
import {data} from '../data'
export default {
  data() {
    return {
      checked: false,
      attendeeSearch: '',
      searchLabel: 'Please enter your name as on your invitation:',
      attendeeData: {
        name: '',
        confirmed: false,
        attendeeId: '',
        visited: true
      }
    }
  },
  methods: {
    tryAgain() {
      this.attendeeSearch = '';
      this.checked = false;
    },
    searchInvites() {
      this.$http.get('https://api.smithwienswedding.com/searchattendee/' + this.attendeeSearch)
        .catch((err) => {
          console.error(err)
          this.attendeeData.name = '';
          this.attendeeData.email = '';
          this.attendeeData.confirmed = false;
          this.checked = true;
        })
        .then((response) => {
          let inviteResponse = response.data;
          if(inviteResponse == null) {
            this.attendeeData.name = '';
            this.attendeeData.email = '';
            this.attendeeData.confirmed = false;
            this.checked = true;
          } else {
            this.attendeeData.name = inviteResponse.name;
            this.attendeeData.email = inviteResponse.email;
            this.attendeeData.confirmed = inviteResponse.confirmed;
            this.attendeeData.attendeeId = inviteResponse._id;
            this.checked = true;
          }
        })
    }
  },
  components: {
    appSearch: CenteredInput,
    confirmForm: Confirm
  }
}
</script>

<style>

h4 {
  font-family: cinzel, 'Times New Roman', Times, serif;
  font-size: 3rem;
}

.group {
  width: 100%;
  text-align: center;
  opacity: 100%;
}

#main-search {
  margin-bottom: 3rem;
}

.centered {
  margin: 20rem auto 0;
  transition: margin-top 1s ease-in-out;
}

.main-button {
  border: 1px solid #b2b2bb;
  border-radius: 5px;
  padding: 0.75rem 2rem;
  background: transparent;
  font-family: cinzel, 'Times New Roman', Times, serif;
}

.group > button:active {
  transform: translateY(0.25rem);
}

.confirmed {
  margin-right: auto;
  margin-left: auto;
}

.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}

p {
  font-family: 'EB Garamond', serif;
  font-size: 1.5rem;
}

</style>
