<template>
  <div class="container">
    <div class="group">
      <div class="info">
        <div class="address">
          <p>Cermony and reception will be taking place at the</p>
          <p>Oak Bay Beach Hotel</p>
          <p>1175 Beach Dr</p>
          <p>Victoria, BC</p>
        </div>
        <div class="accom">
          <p>
            We will have cocktails after the ceremony.
            The dinner portion of the evening will be done by 7:30 to allow you to make the last ferry of the day.
          </p>
        </div>
      </div>
    </div>
    <div class="group">
      <gmap-map
      :center="center"
      :zoom="13"
      :options="options"
      id="map">
        <gmap-info-window
          :otions="infoOptions"
          :position="infoWindowPos"
          :opened="infoVisible"
          @closeclick="infoVisible=false">
          <a href="https://goo.gl/maps/gPnohJWuX6Q2">
            Oak Bay Beach Hotel
            <br>
            1175 Beach Dr
            <br>
            Victoria, BC
          </a>
        </gmap-info-window>
        <gmap-marker
          :position="marker.position"
          :clickable="true"
          @click="toggleInfoWindow"
          ></gmap-marker>
      </gmap-map>
      <div class="inst">
        <p>The hotel is approximately 35 minutes from the Swartz Bay Ferry Terminal and about 10 minutes from downtown Victoria.</p>
        <p>In order to make the ceremony on time, we suggest the latest ferry you take from Tsawwassen is the 1:00pm to Swartz Bay. But we highly recommend you to take the 12pm ferry to Swartz Bay in case of traffic or other unforseen events.</p>
        <p>The last ferry on that day is the 9:00pm from Swartz Bay to Tsawwassen.</p>
      </div>
    </div>
  </div>
</template>

<script>
import * as VueGoogleMaps from 'vue2-google-maps';
import Vue from 'vue';
Vue.use(VueGoogleMaps, {
  load: {
    key: 'AIzaSyBu165fqbZM1xkH2dsS4orR8pwKhIVTVaQ'
  }
});
export default {
  data() {
    return {
      center: {lat: 48.4199507, lng: -123.2998368},
      options: { disableDefaultUI: true },
      marker: { position: {lat: 48.4199507, lng: -123.2998368} },
      infoVisible: false,
      infoWindowPos: {lat: 48.424, lng: -123.2998368},
      infoOptions: {
        pixelOffset: {
          width: 0,
          height: 35
        }
      }
    }
  },
  methods: {
    toggleInfoWindow() {
      this.infoVisible = !this.infoVisible
    }
  }
}
</script>

<style>
  #map {
    width: 60vw;
    height: 40vh;
    margin: 0 auto;
  }
  h4 {
    font-family: cinzel, 'Times New Roman', Times, serif;
    font-size: 2rem;
  }
  p {
    font-size: 2rem;
    font-family: 'EB Garamond', serif;
  }
  .group {
    margin: 2rem auto;
    text-align: center;
  }
  .address {
    text-align: center;
    width: 36vw;
    display: inline-block;
    margin: 0.8rem 2rem;
    vertical-align: top;
  }
  .accom {
    text-align: center;
    width: 36vw;
    display: inline-block;
    margin: 0.8rem 2rem;
    vertical-align: top;
  }
  .inst {
    margin: 1.5rem auto;
  }
</style>
