<template>
  <div>
    <header>
      <app-header></app-header>
    </header>
    <section>
      <transition name="route-fade" mode="out-in">
        <router-view></router-view>
      </transition>
    </section>
  </div>
</template>

<script>
import Header from './components/Header.vue'
import Home from './components/Home.vue'
import Rsvp from './components/Rsvp.vue'

export default {
  components: {
    appHeader: Header,
    home: Home,
    rsvp: Rsvp
  }
}
</script>

<style>
@font-face {
  font-family: WhiteSnowfall;
  src: url('../static/fonts/WhiteSnowfall.woff');
}

@font-face {
  font-family: cinzel;
  src: url('../static/fonts/Cinzel-Regular.otf');
}

*{
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 10px;
  height: 100%;
}

.container {
  margin: 0 14rem 0 14rem;
}

@media (max-width: 1024px) {
  html { font-size: 7px; }
  .container { margin: 0; }
}
@media (max-width: 700px) {
  html { font-size: 5px; }
}
@media (max-width: 400px) {
  html { font-size: 4px; }
}

h1 {
  font-size: 8rem;
}
h2 {
  font-size: 6rem;
}
h3 {
  font-size: 5rem;
}
h4 {
  font-size: 4rem;
}

body {
  margin-top: 2rem;
  background-color: #f8f8f8;
}

/* section {
  height: 58vh;
} */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.route-fade-enter-active, .route-fade-leave-active {
  transition: opacity .3s;
}
.route-fade-enter, .route-fade-leave-to {
  opacity: 0;
}

</style>
